{
  "compilerOptions": {
    "target": "ESNext",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "strict": true,
    "jsx": "preserve",
    "noEmit": true,
    "esModuleInterop": true,
    "skipLibCheck": true,
    "paths": {
      "@/*": ["./src/*"],
      "@construct/sdk": ["./node_modules/@construct-space/sdk/src/index.ts"]
    }
  },
  "include": [
    "src/**/*.ts",
    "src/**/*.vue",
    "widgets/**/*.vue"
  ]
}
