{
  "compilerOptions": {
    "target": "ESNext",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "strict": true,
    "jsx": "preserve",
    "noEmit": true,
    "esModuleInterop": true,
    "skipLibCheck": true,
    "paths": {
      "@construct/sdk": ["../construct-sdk/src/index.ts"]
    }
  },
  "include": [
    "src/**/*.ts",
    "pages/**/*.vue",
    "components/**/*.vue",
    "composables/**/*.ts",
    "utils/**/*.ts",
    "types/**/*.ts",
    "types.ts",
    "auto-imports.d.ts",
    "components.d.ts"
  ]
}
